.contact-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.contact-left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  font-family: "Average", serif;
  color: #eeeeee;
  margin-top: 2rem;
  margin-left: 9rem;
  text-align: left;
  width: 25%;
  height: 78vh;
}

.Mailcontact {
  border-radius: 5rem;
  background-color: #dedede;
  width: auto;
  padding: 2rem;
  transition: 0.2s ease-in-out all;
  color: #000000;
  letter-spacing: 0.2rem;
  border-radius: 1rem;
}

.Mailcontact > h3 {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}

.Mailcontact:hover {
  border-radius: 5rem;
  background-color: #f5bd54;
  color: #ffffff;
  transition: 0.2s ease-in-out all;
}

.contact-right {
  margin: 2rem 6rem 2rem 2rem;
  width: 33%;
  text-align: center;
  font-family: "Average", serif;
  color: #3b3b3b;
  background-color: #383045;
  height: 82vh;
  border-radius: 2rem;
  width: 50%;
}

.mailBtn {
  margin-right: 5rem;
  width: 100%;
  text-align: center;
  font-family: "Average", serif;
}

.contact-left h1 {
  margin-bottom: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.contact-right a {
  text-decoration: none;
}

.form-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(109, 109, 109, 0);
  width: 100%;
  margin: 1rem;
}

.contact-heading {
  font-family: "Unbounded", cursive;
  font-size: 3rem;
  color: #dedede;
  margin: 5rem 0 0 9rem;
}

.innerleft {
  width: 100%;
}

.innerright {
  margin: 1rem 0 0 0;
  width: 100%;
}

.class-innersend {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 1rem;
  margin-left: 3rem;
  margin-top: 1.4rem;
  width: calc(100% - 5rem);
  transition: 0.2s ease-in-out all;
}

.class-innersend:hover {
  color: #22133b;
  transform: translateX(10);
}

.class-innersend > h4 {
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  margin-right: 0.8rem;
  color: #000000;
}

.inner-heading {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.9rem;
  text-align: left;
  padding: 1rem;
  margin-left: 2rem;
  line-height: 3.8rem;
}

.desc {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 1.1rem;
  margin-left: 2rem;
  margin-top: 1rem;
  line-height: normal;
}

.class-innersend svg {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

input {
  width: calc(100% - 5rem);
  display: grid;
  font-size: 1.5rem;
  place-items: center;
  padding: 1rem;
  margin: 3rem 0 1rem 3rem;
  height: 5rem;
  font-family: "Karla", sans-serif;
  color: #ffffff;
  background-color: #ffffff00;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

::placeholder {
  color: #a4a4a4;
}

input:focus,
textarea:focus,
select:focus {
  color: #ffffff;
  outline: none;
}

.work-main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 9rem;
  margin-right: 2rem;
  height: auto;
}

.left-socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.left-socials svg {
  width: 3rem;
  height: 3rem;
  padding: 0 !important;
  margin: 0 1rem 0 1rem;
  transition: all ease-in-out 0.2s;
}

.social {
  padding: 0 !important;
}

.left-socials svg:hover {
  transform: scale(1.2);
}

.left-socials a {
  all: unset;
}

@media only screen and (max-width: 600px) {
  .contact-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .contact-right {
    text-align: center;
    font-family: "Average", serif;
    color: #eeeeee;
    margin: 2rem 0 0 0;
    width: 100%;
  }

  input {
    width: 100%;
    display: grid;
    font-size: 1.5rem;
    place-items: center;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    height: 5rem;
    font-family: "Karla", sans-serif;
    color: #ffffff;
    background-color: #ffffff00;
    border: 1px solid #a4a4a4;
  }

  .Mailcontact {
    border-radius: 5rem;
    background-color: #ffffff;
    padding: 2rem;
    transition: 0.2s ease-in-out all;
    color: #000000;
    letter-spacing: 0.2rem;
  }

  .mailBtn {
    margin-right: 1rem;
    text-align: center;
    font-family: "Average", serif;
    width: 100%;
  }

  .Mailcontact > h3 {
    font-family: "Josefin Sans", sans-serif;
  }

  .contact-left {
    font-family: "Average", serif;
    color: #eeeeee;
    text-align: left;
    margin: 2rem auto 2rem auto;
  }

  .contact-left > h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .contact-heading {
    display: flex;
    justify-content: center;
    font-family: "Unbounded", cursive;
    font-size: 2.5rem;
    color: #dedede;
    margin: 1rem 0 1rem 0rem;
  }

  .class-innersend > h4 {
    font-family: "Karla", sans-serif;
    font-size: 1.5rem;
    margin-right: 0.8rem;
  }

  .class-innersend {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 100%;
    padding: 1rem;
    color: #444444;
    width: 45%;
    transition: 0.2s ease-in-out all;
  }

  .class-innersend:hover {
    color: #f7ba10;
  }
}
