@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Average&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tillana:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to left, #000000, #231f2b);
}

::-webkit-scrollbar {
  display: none;
}

.leftHeader {
  padding: 5px;
  margin-left: 8rem;
  margin-top: 0.5rem;
  color: #eeeeee;
  font-weight: 500;
  font-size: 30px;
  font-family: "Allan", cursive;
}

.heading-style {
  color: white;
  font-weight: 400;
  font-size: 35px;
  font-family: "Alata", sans-serif;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 3px;
  transition: all 0.5s ease;
  margin: auto;
  text-align: center;
}

.heading-style:hover {
  color: orange;
}

.rightHeader-l a:hover {
  color: orange;
  /* transform: scale(1.5); */
}

.rightHeader-l {
  display: flex;
  margin-right: 8rem;
  transition: all 1s ease;
  margin-top: 0.5rem;
}

.rightHeader-l a {
  margin: 0px 1.7rem 0px 1.7rem;
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  transition: all 0.2s ease;
}

.rightHeader-l svg {
  display: none;
  margin: 0px 1.7rem 0px 1.7rem;
  text-decoration: none;
  color: #eeeeee;
  font-size: 25px;
  transition: all 0.2s ease;
}

.rightHeader-s {
  transition: all 1s ease;
}

.mainHeader {
  background-image: linear-gradient(to left, #000000, #231f2b);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0px;
  margin: auto;
  z-index: 999;
  border-bottom: 1px solid rgb(37, 37, 37);
}

.primary {
  height: 100vh;
  width: 100%;
  display: flex;
}

.footer-1 > div > a {
  text-decoration: none;
  color: #000000;
  font-size: 2.3rem;
  margin-right: 2.8rem;
  transition: 0.5s ease-in-out all;
}

a {
  color: #dedede;
}

.primaryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.textsection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #dedede;
  font-size: 5.5rem;
  font-family: "Righteous", cursive;
  margin-bottom: 1rem;
  transition: 0.5s ease-in-out all;
}

.textsection:hover {
  color: #eea648;
  transition: 0.5s ease-in-out all !important;
  transform: scale(1.2) !important;
}

.primaryleft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 2rem;
  color: white;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.2rem;
  width: 60%;
  margin: 9.3rem;
}

.primaryright {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin: auto;
}

.innernav {
  margin: 12rem 0 0 0;
}

.footer-1 {
  display: flex;
  flex-direction: column;
  color: #dedede;
  background-color: #dedede;
  font-size: 2rem;
  margin: 5rem 0 0 0;
  padding-left: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  border-top-left-radius: 2.5rem;
}

.about-text {
  color: #000000;
  font-size: 1rem;
  margin: 1rem 0 0 0.43rem;
}

.footer-1 div > svg {
  color: #000000;
  margin-right: 2.8rem;
}

.footer-1 div > :nth-child(1):hover {
  color: #4f4f4f;
  transition: 0.2s ease-in-out all;
  transform: scale(1.2);
}

.footer-1 div > :nth-child(2):hover {
  color: red;
  transition: 0.2s ease-in-out all;
  transform: scale(1.2);
}

.footer-1 div > :nth-child(3):hover {
  color: #2683e1;
  transition: 0.2s ease-in-out all;
  transform: scale(1.2);
}

.footer-1 div > :nth-child(4):hover {
  color: #626262;
  transition: 0.2s ease-in-out all;
  transform: scale(1.2);
}

.span-name {
  text-align: left;
}

.span-name > span {
  font-family: "Alata", sans-serif;
  font-size: 3.5rem;
  transition: 0.5s ease-in all;
}

.span-name:hover {
  color: #eeeeee;
  text-shadow: 0 0 5px #f49803, 0 0 25px #eea648, 0 0 50px #ef7335,
    0 0 100px #ff9500;
  cursor: default;
}

.skills {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.skill-heading {
  font-size: 3rem;
  font-family: "karla", serif;
  margin-bottom: 2rem;
  transition: 0.4s ease-in-out;
}

.skill-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.skill-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  border-radius: 0.5rem;
  height: 10rem;
  width: 10rem;
  color: #f47519;
  margin: 0 1rem 0 1rem;
}

.skill-heading:hover {
  transition: 0.4s ease-in-out;
  color: #eea648;
  transform: scale(1.5);
}

.Error-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(to right, #000000, #3c3434);
}

.Heading {
  font-size: 8rem;
  color: #dedede;
  font-family: "Unbounded", cursive;
  text-align: center;
  margin-bottom: 0.1rem;
}
.subheading {
  font-size: 4rem;
  color: #dedede;
  font-family: "Karla", sans-serif;
  text-align: center;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
}

.back-to-home:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out all;
}

.back-to-home {
  font-family: "Karla", sans-serif;
  transition: 0.3s ease-in-out all;
  padding: 1rem;
  font-size: 1.1rem;
  color: #000000;
  border-radius: 5px;
  background-color: #ffffff;
  height: auto;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
  }

  .rightHeader-s {
    display: block;
    padding: 5px;
    margin-right: 8rem;
    transition: all 1s ease;
  }

  .rightHeader-l {
    display: none;
    padding: 1rem;
    margin-right: 8rem;
    transition: all 1s ease;
  }

  .leftHeader {
    padding: 5px;
    margin: auto;
    color: #eeeeee;
    font-weight: 500;
    font-size: 10px;
    font-family: "Allan", cursive;
  }

  .heading-style {
    color: white;
    font-weight: 700;
    font-size: 25px;
    font-family: "Laila", sans-serif;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 5px;
    transition: all 0.5s ease;
    margin: auto;
    text-align: center;
  }

  .skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 20rem;
    margin-bottom: 20rem;
  }

  .skill-heading {
    font-size: 2rem;
    font-family: "Archivo", sans-serif;
    margin-bottom: 2rem;
  }

  .skill-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .skill-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    border-radius: 0.5rem;
    width: 90%;
    color: #f47519;
    margin: 1rem 0rem 1rem 0rem;
  }

  .primary {
    background-image: linear-gradient(to right, #000000, #3c3434);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .primaryContainer {
    margin: 0 9rem 0 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100%;
  }

  .primaryleft {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    font-size: 1.7rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: white;
    font-family: "Rubik", sans-serif;
    letter-spacing: 0.2rem;
    width: 100%;
  }

  .primaryright {
    border-radius: 5px;
    width: 100%;
  }

  .span-name > span {
    text-align: center;
    font-size: 2rem;
    transition: 0.2s ease-in all;
    width: 100%;
  }

  .primaryright img {
    width: 100%;
    border-radius: 50px;
    pointer-events: none;
  }

  .imgsection {
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    place-items: center;
    color: #dedede;
  }

  .rightHeader-l svg {
    margin: 0px 1.7rem 0px 1.7rem;
    text-decoration: none;
    color: #eeeeee;
    font-size: 25px;
    transition: all 0.2s ease;
  }

  .rightHeader-l a {
    display: none;
    margin: 0px 1.7rem 0px 1.7rem;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
    font-size: 20px;
    font-family: "Tillana", cursive;
    transition: all 0.2s ease;
  }

  .work-main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .w-heading {
    font-size: 3rem;
    text-align: center;
    color: #dedede;
    font-family: "Unbounded", cursive;
    margin-bottom: 0.7rem;
    margin-top: 4rem;
  }

  .work-subheading {
    font-size: 1.4rem;
    text-align: center;
    color: #dedede;
    font-family: "Karla", sans-serif;
  }

  .work-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
  }

  .work-cardimg {
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Unbounded", cursive;
    background-color: #f0f0f0;
    color: #3c3434;
    height: 20rem;
    width: 100%;
  }

  .work-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.6rem;
    color: #dedede;
    background-color: #ffd7ad;
    height: 35rem;
    width: 100%;
  }

  .work-des {
    display: grid;
    place-items: center;
    height: 88%;
    width: 100%;
  }

  .work-des h3 {
    font-size: 1.5rem;
    font-family: "Average", serif;
    color: #222222;
    margin: 1rem;
  }

  .works-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    height: 12%;
    width: 100%;
    transition: 0.3s ease-in-out all;
  }

  .works-link h3 {
    font-size: 1.5rem;
    font-family: "Average", serif;
    margin-bottom: 0;
  }

  .works-link:hover {
    background-color: #dedede;
    color: #222222;
  }

  .works-link svg {
    font-size: 2rem;
    margin-right: 1rem;
  }

  .work {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 0 5rem 0;
  }

  .mainWork {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    width: 80%;
  }

  .work-heading {
    font-size: 3rem;
    font-family: "Average", serif;
    margin: 2rem;
    color: #eeeeee;
    transition: 0.5s ease-in-out all;
  }

  .work-heading:hover {
    color: orange;
    transform: scale(1.2);
    transition: 0.5s ease-in-out all;
  }

  .work-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dedede;
    border-radius: 0.4rem;
    width: 90%;
    height: 15rem;
    margin: 1rem 1rem 1rem 1rem;
    align-items: center;
    color: #000000;
  }
}
